* {
    font-family: 'Oswald', sans-serif;
    /* background: black; */
color: white;
}
h1 {
    font-family: 'Oswald', sans-serif;
    /* background: black; */
color: white;
}
h2 {
    font-family: 'Oswald', sans-serif;
    /* background: black; */
color: white;
}
h3 {
    font-family: 'Oswald', sans-serif;
    /* background: black; */
color: white;
}
h4 {
    font-family: 'Oswald', sans-serif;
    /* background: black; */
color: white;
}
h5 {
    font-family: 'Oswald', sans-serif;
    /* background: black; */
color: white;
}
h6 {
    font-family: 'Oswald', sans-serif;
    /* background: black; */
color: white;
}
body {
    font-family: 'Oswald', sans-serif;
background: black;
color: white;
}