* {
    font-family: 'Nunito', sans-serif;
    /* background: black; */
color: #FA1E4E;
}
h1 {
    font-family: 'Nunito', sans-serif;
    /* background: black; */
color: #FA1E4E;
}
h2 {
    font-family: 'Nunito', sans-serif;
    /* background: black; */
color: #FA1E4E;
}
h3 {
    font-family: 'Nunito', sans-serif;
    /* background: black; */
color: #FA1E4E;
}
h4 {
    font-family: 'Nunito', sans-serif;
    /* background: black; */
color: #FA1E4E;
}
h5 {
    font-family: 'Nunito', sans-serif;
    /* background: black; */
color: #FA1E4E;
}
h6 {
    font-family: 'Nunito', sans-serif;
    /* background: black; */
color: #FA1E4E;
}
body {
    font-family: 'Nunito', sans-serif;

color: #FA1E4E;
}
i {
    font-family: 'Nunito', sans-serif;

color: white;
}